.topic-button {
    margin: 5px;
}

.download-button, .favorite-button {
    margin: 10px;
}

.add-topic {
    margin: 10px 0;;
}

.input-group {
    width: 400px;
    margin-bottom: 5px;
}

#dynamic {
    margin: 20px 0px;
}

.card-deck-right-border {
    border-right: 1px solid gray;
}

.content {
    margin: 30px;
}